{
    "all": true,
    "check-coverage": true,
    "statements": 80,
    "branches": 65,
    "functions": 65,
    "lines": 65,
    "include": ["src/**/*.js", "tests/**"],
    "reporter": ["lcov", "html", "text"]
  }